.logregTitle {
	display: flex;
	
	width: 150px;
	margin: 0 auto;
}
.optionBtn{
	font-size: 1.3em;
	color: black;
	flex: 1;
	text-align: center;
}

.action{
	color: blue;
	border-bottom: 1px solid blue;
}
