.registerForm{
	width: 70%;
	margin: 20px auto;
	
	.formItem{
		width: 278px;
		input{
			display: block;
			width: 267px;
			height: 45px;
			padding: 0 0 0 10px;
			
			outline: none;
			font-size: 0.8em;
		}

		$borderradius: 3px;

		.username{
			border-radius:$borderradius $borderradius 0 0;
			border: 1px solid gray;
		}
		.userpassword, .userphone{

			border: 1px solid gray;
			border-top: none;
		}
		.verifycode{
			border-top: none;
			border-left: 1px solid gray;
			border-right: 1px solid gray;
			border-bottom: 1px solid gray;
			border-radius: 0 0 $borderradius $borderradius;
		}

	}

	.submitBtn{
		width: 278px;
		margin: 20px auto;
		button{
			width: 100%;
			margin: 0 auto;
			padding: 0;
			height: 40px;
		}
	}

	

}



